{{page-title "Helios Sample App"}}

<header class="header">
  <NavigationNarrator />
  <h1>Helios Sample App</h1>
  <nav>
    <LinkTo @route="index">Home</LinkTo>
  </nav>
</header>
<main id="main" class="main">
{{outlet}}
</main>
<footer class="footer">
  <p><small>Helios Sample App</small></p>
</footer>