{{page-title "Helios Sample App"}}

<header class="header">
  <NavigationNarrator />
  <h1>Helios Sample App</h1>
  {{!-- Remove the comments if you need the nav --}}
  {{!-- <nav class="nav-primary">
    <ul role="list" aria-label="primary site navigation">
      <li><LinkTo @route="index">Home</LinkTo></li>
    </ul>
  </nav> --}}
</header>
<main id="main" class="main">
  {{outlet}}
</main>
<footer class="footer">
  <p><small><a href="https://github.com/MelSumner/helios-sample-app">Helios Sample App GitHub Repo</a></small></p>
</footer>